.bg-roxo {
  background-color: #DE6449;
}

a:hover {
  font-weight: bold;
}

.img-carrossel {
  object-fit: cover;
  object-position: 20% 30%;
  width: 100%;
  height: 60vh;

}

.img-carrossel-diretora {
  object-fit: cover;
  object-position: 40% 60%;
  width: 100%;
  height: 60vh;

}

.img-carrossel-atriz {
  object-fit: cover;
  object-position: 40% 80%;
  width: 100%;
  height: 60vh;

}

.destaque-legenda {
  text-shadow: gray 1px 1px;
}


.lista-links {
  padding: 40px;
  list-style-type: none;
  color: #7E459B;
}

h1 {
  margin-top: 40px;
}


.icone-links{
  color: #7E459B;
}

.icone-links:hover {
  color: #7E459B;
  list-style-type: none;
}

.bg-grid {
  background-color: #DE6449;
  padding: 40px;
}

.item-grid {
  color: white;
  text-align: center;
}

.img-modal {
  width: 90%;
}

.botao-1 {
  background-color:#564154;
}

.botao-1:hover {
  opacity: .8;
}

.botao-2 {
  background-color: #757083;
}

.footer-reprograma {
  opacity: .6;
}